@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@media (max-width:650px) {
    .container {
        font-size: 1em;
        padding: 10px;
        text-align: center;
    }
}


.container {
    max-width: 750px;
    margin: auto;
    padding-top: 10px;
}

.avatar {
    width: 220px;
    border-radius: 20px;
    margin: 30px 30px 0px 0px;
}

.header {
    display: inline-block;
    margin: 30px 0;
}

body {
    background-color: #FFFAFA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: normal;
}

h1 {
    color:#A0522D;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1.2em;
    /* font-weight: bold; */
    color:#A0522D;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    /* font-weight: bold; */
    color:#A0522D;
    margin-bottom: 20px;

}


hr {
    border: 0;
    border-top: 2px dashed #D2B48C;
    width: 100%
}

table {
    width: 100%;
    table-layout: fixed; /* Фиксированная раскладка столбцов */
    border-collapse: collapse;
}

th, td {
    padding: 4px;
    text-align: left;
}

.card {
    background-color: #F5DEB3;
    border-radius: 20px;
    padding: 0px 40px 0px 40px;
    margin-bottom: 15px;
}

a {
    color:#800000;
    font-family: inherit;
}

a:hover {
    color: #A0522D;
}

a:visited {
    color: #CD853F;
}

a:active {
    color: #D2B48C;
}

.btn {
    background: #A0522D;
    padding: 10px 60px;
    color:#F5DEB3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    margin: 10px 0px;
}

.btn:hover {
    opacity: 0.8;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list {
    margin-bottom: 30px;
}

.list li{
    margin-bottom: 10px;
    border-bottom: 1px solid #D2B48C;
}

.table {
    width: 100%;
    margin-bottom: 30px;
}

.table td{
    text-align: center;
    margin-bottom: 10px;
}

.table th{
    text-align: center;
}

.table tr{
    border-bottom: 1px solid #D2B48C;
}

.table tr:hover {
    opacity: 1.5;
    color: #A0522D;
}

@media (max-width:650px) {
    .form-row {
        display: block;
    }
}

@media (max-width:650px) {
    .form-row .form-group {
        display: block;
    }
}

.form-row {
    margin-bottom: 20px;
}

.form-row .form-group {
    display: inline-block;
    margin-right: 30px;
}

.form-group label{
    display:block;
    padding: 10px 0;
}

.form-group input {
    background: #FFFAF0;
    border: none;
    border-radius: 5px;
    width: 240px;
    height: 40px;
    font-family: inherit;
    box-sizing: border-box;
    padding: 10px;
}

.form-group textarea {
    background: #FFFAF0;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    font-family: inherit;
    box-sizing: border-box;
    padding: 10px;
}
